<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.jakelee.cityflow">

    <application
        android:allowBackup="true"
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data android:name="DATABASE" android:value="cityflow.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="false" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="uk.co.jakelee.cityflow.model" />

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.StoryActivity" />
        <activity android:name=".main.CreatorActivity" />
        <activity android:name=".main.PackActivity" />
        <activity android:name=".main.PuzzleActivity" />
        <activity android:name=".main.EditorActivity" />
        <activity android:name=".main.CustomInfoActivity" android:theme="@style/Theme.Transparent"/>
        <activity android:name=".main.TilePickerActivity" android:theme="@style/Theme.Transparent"/>
    </application>

</manifest>